In [ ]:

import pandas as pd
from mosdac_utils import fetch_satellite_sensors_data, process_satellite_sensors_data

In [2]:
satellite_df = pd.read_csv(r"C:\Users\WELCOME\Desktop\mosdac\raw_data\satellite_ids.csv")

In [4]:
all_dataframes = []

for idx, row in satellite_df.iterrows():
    satellite_id = row["id"]
    satellite_name = row["name"]
    
    sensor_data = fetch_satellite_sensors_data(satellite_id)
    processed_df = process_satellite_sensors_data(satellite_name, satellite_id, sensor_data)
    
    if processed_df is not None:
        all_dataframes.append(processed_df)

final_df = pd.concat(all_dataframes, ignore_index=True)

Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
Sending request...
Status Code: 200
Data received.
No sensors data for satellite_id 16
Sending request...
Status Code: 200
Data received.
No sensors data for satellite_id 4

In [5]:
final_df

    satellite_name satellite_id    sensor_name sensor_id
0           EOS-06           22            OCM        16
1           EOS-06           22  SCATTEROMETER         4
2        INSAT-3DR           14         IMAGER        10
3        INSAT-3DR           14        SOUNDER        11
4        INSAT-3DS           24         IMAGER        10
5        INSAT-3DS           24        SOUNDER        11
6              MSG           32         SEVIRI        17
7            SARAL           12      ALTIMETER         9
8           EOS-07           23            MHS        15
9         INSAT-3A            3            CCD         1
10        INSAT-3A            3           VHRR         2
11        INSAT-3D           13         IMAGER        10
12        INSAT-3D           13        SOUNDER        11
13       KALPANA-1            1           VHRR         2
14  MEGHATROPIQUES           11         MADRAS         5
15  MEGHATROPIQUES           11           ROSA         8
16  MEGHATROPIQUES           11         SAPHIR         6
17  MEGHATROPIQUES           11         SCARAB         7
18      OCEANSAT-2            9  SCATTEROMETER         4
19       SCATSAT-1           15  SCATTEROMETER         4

In [6]:
final_df.to_csv(r'C:\Users\WELCOME\Desktop\mosdac\raw_data\satellites_sensors_data.csv', index=False)